
.bg-dark{
    background-color: aliceblue(00, 100) !important;
    border-bottom: 4px solid #8d6d3f;
}


.navbar-brand img{
    height: 20%;
    width:20%;
	border-radius: 100%;
}

.navbar-brand span{
   	text-transform: uppercase !important;
	color:  #8d6d3f !important;

	margin-left: 0.5rem;
	font-weight: bold;
	font-family: 'Playfair Display', serif;
	font-size: 25px;
}

.navbar-nav .nav-item > a {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 15px;
	padding: 5px 0;
	letter-spacing: 0.5px;
	margin: 10px 15px 0 15px;
}

.navbar .dropdown-menu{
	background-color: #8d6d3f;
	color: antiquewhite;
}

.navbar .dropdown-menu a{

	color: antiquewhite;
}

.navbar-nav > li > .dropdown-menu a:hover { background-color: antiquewhite;
color: #8d6d3f;}

.navbar-toggler { 
    border-color: gold !important; 
}

.carousel-item img{
    max-height:800px !important;
}

.section-title {
	margin-bottom: 70px;
}
.section-title p {
	font-size: 18px;
}
.btn-custom {
	text-transform: uppercase;
	color: #fff;
	background-color: #a7c44c;
	border: 1px;
	padding: 14px 20px;
	margin: 0;
	font-size: 17px;
	border-radius: 30%;
	margin-top: 20px;
	transition: all 0.5s;
}

hr {
	height: 4px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #a7c44c;
	margin: 0 auto;
	margin-bottom: 20px;
	border: 0;
}
.intro span {
	color: #a7c44c;
	font-weight: 600;
}

.service img {
    background-color:rgb(250, 246, 246);
    padding :1em;
    margin: 1em;
    width: 300px;
	border-radius: 75px 0 75px 0;
	box-shadow: 15px 0 #c2ac85;
}
h3{
    padding: 10px 0;
	text-align: center;
	font-family: 'Viga', sans-serif;
	color: #8c5c36;
}
.team {
	padding: 40px 0;
	background: #e9ecef;
}

#contact{
	padding: 40px 0;
}

/*Footer section*/
#footer {
	background: #333;
	padding: 50px 0 20px 0;
}
#footer .social {
	margin-bottom: 50px;
}
#footer .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#footer .social i.fa {
	font-size: 26px;
	padding: 4px;
	color: #8d6d3f;
	transition: all 0.3s;
}
#footer .social i.fa:hover {
	color: #eee;
}
#footer p {
	font-size: 15px;
	color: #8d6d3f;
}
#footer a {
	color: #999;
}
#footer a:hover {
	color: #a7c44c;
}

